- model_class = JournalEntry
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:entry_date) + ':'
  %br
  = @journal_entry.entry_date
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @journal_entry.description
%p
  %strong= model_class.human_attribute_name(:purity) + ':'
  %br
  = @journal_entry.purity
%p
  %strong= model_class.human_attribute_name(:lack_of_discipline) + ':'
  %br
  = @journal_entry.lack_of_discipline
%p
  %strong= model_class.human_attribute_name(:fitness) + ':'
  %br
  = @journal_entry.fitness
%p
  %strong= model_class.human_attribute_name(:devotional) + ':'
  %br
  = @journal_entry.devotional
%p
  %strong= model_class.human_attribute_name(:chrissy) + ':'
  %br
  = @journal_entry.chrissy
%p
  %strong= model_class.human_attribute_name(:relational) + ':'
  %br
  = @journal_entry.relational
%p
  %strong= model_class.human_attribute_name(:discipline) + ':'
  %br
  = @journal_entry.discipline
%p
  %strong= model_class.human_attribute_name(:facepicking) + ':'
  %br
  = @journal_entry.facepicking
%p
  %strong= model_class.human_attribute_name(:stress) + ':'
  %br
  = @journal_entry.stress
%p
  %strong= model_class.human_attribute_name(:sick) + ':'
  %br
  = @journal_entry.sick
%p
  %strong= model_class.human_attribute_name(:flossed) + ':'
  %br
  = @journal_entry.flossed
%p
  %strong= model_class.human_attribute_name(:workout) + ':'
  %br
  = @journal_entry.workout
%p
  %strong= model_class.human_attribute_name(:health_statement) + ':'
  %br
  = @journal_entry.health_statement
%p
  %strong= model_class.human_attribute_name(:to_do) + ':'
  %br
  = @journal_entry.to_do
%p
  %strong= model_class.human_attribute_name(:memory_verse) + ':'
  %br
  = @journal_entry.memory_verse
%p
  %strong= model_class.human_attribute_name(:friends_in_focus) + ':'
  %br
  = @journal_entry.friends_in_focus
%p
  %strong= model_class.human_attribute_name(:problem_of_the_day) + ':'
  %br
  = @journal_entry.problem_of_the_day
%p
  %strong= model_class.human_attribute_name(:problem_attempted) + ':'
  %br
  = @journal_entry.problem_attempted
%p
  %strong= model_class.human_attribute_name(:problem_solved) + ':'
  %br
  = @journal_entry.problem_solved

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), journal_entries_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_journal_entry_path(@journal_entry), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), journal_entry_path(@journal_entry), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
